ul {
    list-style-type: none;
    display: flex;
    padding: 15px;
    color: black;
}
li, a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.index-link {
    float: right;
    margin-top: 15px;
    margin-right: 250px;
}

table {
    border: solid 2px black;
    border-collapse: collapse;
    display: table;
    width: 100%;
}

td, th {
    border: solid 1px black;
    padding: 10px;
}

.checkout-form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

span {
    width: 25%;
    float: left;
    margin-bottom: 5px;
}

input, textarea {
    width: 75%;
    float: left;
    margin-bottom: 5px;
}

button {
    float: left;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-login {
    background-color: #006600;
    padding: 5px;
    margin-right: 50px;
    border-radius: 5px;
    width: 50px;
}

.btn-login a {
    color: #FFFFFF !important;
}

.login {
    text-align: center;
}

.login form {
    height: 200px;
    width: 30%;
    border: solid 1px;
    display: inline-block;
    border-radius: 5px;
}

.login form div {
    align-items: center;
    padding: 20px;
}

.login form span {
    width: 20%;
}

.login form button {
    float: initial;
}

